[submodule "hiburn"]
	path = hiburn
	url = https://github.com/OpenHisiIpCam/hiburn.git
	branch = master
[submodule "application/core/utils/regs/registers-description"]
	path = application/core/utils/regs/registers-description
	url = https://github.com/OpenHisiIpCam/registers-description
[submodule "br-hisicam"]
	path = br-hisicam
	url = https://github.com/OpenHisiIpCam/br-hisicam
	branch = master
