THIS_DIR := $(dir $(abspath $(lastword $(MAKEFILE_LIST))))

#THIS IS YOUR CUSTOM SETTINGS

APP_TARGET := cam

#BOARD ?= unknown_unknown_hi3516av100_unknown
#BOARD ?= unknown_unknown_hi3516av200_unknown
#BOARD ?= unknown_unknown_hi3516cv100_unknown
#BOARD ?= unknown_unknown_hi3516cv200_unknown
#BOARD ?= unknown_unknown_hi3516cv300_unknown
#BOARD ?= unknown_unknown_hi3516cv500_unknown 
#BOARD ?= unknown_unknown_hi3516ev200_unknown 
#BOARD ?= unknown_unknown_hi3519av100_unknown 
#BOARD ?= unknown_unknown_hi3559av100_unknown 

CAMERA  ?= 1
BOARD   ?= jvt_s274h19v-l29_hi3519v101_imx274 
PROG	 ?= 1

#CAMERA    ?= 2
#BOARD     ?= xm_ivg-85hf20pya-s_hi3516ev200_imx307
#PROG	  ?= 2

#CAMERA   ?= 3
#BOARD    ?= xm_53h20-s_hi3516cv100_imx122
#PROG	 ?= 3

#CAMERA   ?= 4
#BOARD    ?= xm_ivg-hp203y-se_hi3516cv300_imx291
#PROG     ?= 4

#CAMERA  ?= 5
#BOARD   ?= jvt_s274h19v-l29_hi3519v101_imx274
#PROG     ?= no

#CAMERA  ?= 6
#BOARD   ?= jvt_s323h16xf_hi3516cv300_imx323
#PROG    ?= 6

#CAMERA  ?= 7
#BOARD   ?= ruision_rs-h622qm-b0_hi3516cv300_imx323
#PROG    ?= 7

#no driver
#CAMERA  ?= 8
#BOARD   ?= xm_ivg-85hf30ps-s_hi3516ev200_sc4239
#PROG    ?= 8

#CAMERA   ?= 9
#BOARD    ?= xm_ipg-83h50p-b_hi3516av100_imx178
#PROG     ?= 9

#CAMERA   ?= 10
#BOARD    ?= xm_ipg-83he20py-s_hi3516ev100_imx323
#PROG     ?= 10

#CAMERA   ?= 11
#BOARD    ?= xm_ivg-83h80nv-be_hi3516av200_os08a10
#PROG     ?= no

#CAMERA	  ?= 12
#BOARD    ?= topsee_th38j29_hi3516ev200_imx307
#PROG	  ?= no

#CAMERA   ?= 13
#BOARD    ?= ssqvision_on335h16d_hi3516dv300_imx335
#PROG     ?= 13

#CAMERA   ?= 14
#BOARD    ?= jvt_s226h19v-l29_hi3519v101_imx226
#PROG     ?= no

#CAMERA   ?= 15
#BOARD    ?= xm_53h20-ae_hi3516cv100_imx222
#PROG     ?= no

#CAMERA	 ?= 16
#BOARD    ?= xm_83h40pl-b_hi3516dv100_ov4689 
#PROG     ?= no

#uboot network issue
#CAMERA  ?= 17
#BOARD   ?= ssqvision_unknown_hi3519v101_imx326 
#PROG    ?= no

#CAMERA   ?= 18
#BOARD    ?= ssqvision_on290h16d_hi3516dv100_imx290
#PROG     ?= no

#testing driver
#CAMERA   ?= 20
#BOARD    ?= unknown_facility20_hi3518ev200_h65
#PROG     ?= no

#no drivewr
#CAMERA	  ?= 21
#BOARD    ?= topsee_th38d16_hi3516ev200_sc3235 
#PROG     ?= no

#only wifi
#CAMERA   ?= 22
#BOARD   ?=yi_yhs-113-ir_hi3518ev201_ov9732
#PROG    ?=22

#CAMERA   ?= 23
#BOARD    ?= xm_ipg-53h13pl-s_hi3518cv100_ar0130
#PROG	  ?= no

#CAMERA   ?= 25
#BOARD    ?= ruision_rs-h802j-b0_hi3518ev200_f22
#PROG     ?= no

#CAMERA	  ?= 26
#BOARD	  ?= xm_ivg-85hg50pya-s_hi3516ev300_imx335
#PROG      ?= no

#no driver
#CAMERA   ?= 27
#BOARD    ?= unknown_facility27_hi3516dv100_it6801fn
#PROG     ?= no

#CAMERA   ?= 28
#BOARD    ?= unknown_facility28_hi3516cv500_imx327
#PROG     ?= no

#no driver
#CAMERA   ?= 29
#BOARD    ?= ruision_rs-h805-a0_hi3518ev200_ar0237
#PROG     ?= no

#CAMERA   ?= 30
#BOARD    ?= ruision_rs-h656s-ao-b_hi3516av300_imx415
#PROG     ?= no

#CAMERA  ?= 31
#BOARD   ?= hisilicon_demb_hi3516dv300_imx327
#PROG    ?= no

#family not added
#CAMERA  ?= 32
#BOARD   ?= hisilicon_dembverc_hi3559av100_imx334
#PROG    ?= no

