B
THIS_DIR := $(dir $(abspath $(lastword $(MAKEFILE_LIST))))

#THIS IS YOUR CUSTOM SETTINGS

#APP_TARGET := daemon

#1.  hi3519v101+imx274 jvt OK
CAMERA  ?= 1
BOARD   ?= jvt_s274h19v-l29_hi3519v101_imx274

#CAMERA  ?= 2
#BOARD   ?= xm_ivg-85hf20pya-s_hi3516ev200_imx307

#CAMERA  ?= 3
#BOARD   ?= xm_53h20-s_hi3516cv100_imx122

#CAMERA  ?= 4
#BOARD   ?= xm_ivg-hp203y-se_hi3516cv300_imx291

#CAMERA  ?= 5
#BOARD   ?= xm_ivg-hp201y-se_hi3516cv300_imx323

#CAMERA  ?= 6
#BOARD   ?= jvt_s323h16xf_hi3516cv300_imx323

#CAMERA  ?= 7
#BOARD   ?= ruision_rs-h622qm-b0_hi3516cv300_imx323

#CAMERA  ?= 8
#BOARD   ?= xm_ivg-85hg50pya-s_hi3516ev300_imx335

#CAMERA  ?= 9
#BOARD   ?= xm_ipg-83h50p-b_hi3516av100_imx178

#CAMERA  ?= 10
#BOARD   ?= xm_ipg-83he20py-s_hi3516ev100_imx323

#CAMERA  ?= 11
#BOARD   ?= TODO

#CAMERA  ?= 12
#BOARD   ?= TODO

#CAMERA  ?= 13
#BOARD   ?= ssqvision_on335h16d_hi3516dv300_imx335

#CAMERA  ?= 14
#BOARD   ?= jvt_s226h19v-l29_hi3519v101_imx226

#CAMERA  ?= 15
#BOARD   ?= xm_53h20-ae_hi3516cv100_imx222

#CAMERA	 ?= 16
#BOARD   ?= TODO 

#CAMERA  ?= 17
#BOARD   ?= TODO 

#CAMERA  ?= 18
#BOARD   ?= ssqvision_on290h16d_hi3516dv100_imx290

#CAMERA  ?= 31
#BOARD   ?= TODO 

#CAMERA  ?= 32
#BOARD   ?= TODO

