#SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="TODO", SYMLINK+="ttyFLASHROMTEST", GROUP="dialout", MODE="0777"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A50285BI", SYMLINK+="ttyRELAY0", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="VAMETER", SYMLINK+="ttyVAMETER", GROUP="dialout", MODE="0777"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM1", SYMLINK+="ttyCAM1", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM2", SYMLINK+="ttyCAM2", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM3", SYMLINK+="ttyCAM3", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM4", SYMLINK+="ttyCAM4", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM5", SYMLINK+="ttyCAM5", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM6", SYMLINK+="ttyCAM6", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM7", SYMLINK+="ttyCAM7", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM8", SYMLINK+="ttyCAM8", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM9", SYMLINK+="ttyCAM9", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM10", SYMLINK+="ttyCAM10", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM11", SYMLINK+="ttyCAM11", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM12", SYMLINK+="ttyCAM12", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM13", SYMLINK+="ttyCAM13", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM14", SYMLINK+="ttyCAM14", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM15", SYMLINK+="ttyCAM15", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM16", SYMLINK+="ttyCAM16", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM17", SYMLINK+="ttyCAM17", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM18", SYMLINK+="ttyCAM18", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM19", SYMLINK+="ttyCAM19", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM20", SYMLINK+="ttyCAM20", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM21", SYMLINK+="ttyCAM21", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM22", SYMLINK+="ttyCAM22", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM23", SYMLINK+="ttyCAM23", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM24", SYMLINK+="ttyCAM24", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM25", SYMLINK+="ttyCAM25", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM26", SYMLINK+="ttyCAM26", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM27", SYMLINK+="ttyCAM27", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM28", SYMLINK+="ttyCAM28", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM29", SYMLINK+="ttyCAM29", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM30", SYMLINK+="ttyCAM30", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM31", SYMLINK+="ttyCAM31", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="CAM32", SYMLINK+="ttyCAM32", GROUP="dialout", MODE="0777"

