SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG1", SYMLINK+="ttyPROG1", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG2", SYMLINK+="ttyPROG2", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG3", SYMLINK+="ttyPROG3", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG4", SYMLINK+="ttyPROG4", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG5", SYMLINK+="ttyPROG5", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG6", SYMLINK+="ttyPROG6", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG7", SYMLINK+="ttyPROG7", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG8", SYMLINK+="ttyPROG8", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG9", SYMLINK+="ttyPROG9", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG10", SYMLINK+="ttyPROG10", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG11", SYMLINK+="ttyPROG11", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG12", SYMLINK+="ttyPROG12", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG13", SYMLINK+="ttyPROG13", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG14", SYMLINK+="ttyPROG14", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG15", SYMLINK+="ttyPROG15", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG16", SYMLINK+="ttyPROG16", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG17", SYMLINK+="ttyPROG17", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG18", SYMLINK+="ttyPROG18", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG19", SYMLINK+="ttyPROG19", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG20", SYMLINK+="ttyPROG20", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG21", SYMLINK+="ttyPROG21", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG22", SYMLINK+="ttyPROG22", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG23", SYMLINK+="ttyPROG23", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG24", SYMLINK+="ttyPROG24", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG25", SYMLINK+="ttyPROG25", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG26", SYMLINK+="ttyPROG26", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG27", SYMLINK+="ttyPROG27", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG28", SYMLINK+="ttyPROG28", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG29", SYMLINK+="ttyPROG29", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG30", SYMLINK+="ttyPROG30", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG31", SYMLINK+="ttyPROG31", GROUP="dialout", MODE="0777"
SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="PROG32", SYMLINK+="ttyPROG32", GROUP="dialout", MODE="0777"

